@page
@model PublisherModel
@{
}
<h2>Publisher</h2>

<input type="text" id="reportName" placeholder="Enter report name" />
<input type="button" id="publishReport" value="Publish" />

@section scripts {
    <script src="js/signalr-client.min.js"></script>

    <script>
        $(function () {

            let hubUrl = 'https://localhost:44355/reportsPublisher';
            let httpConnection = new signalR.HttpConnection(hubUrl);
            let hubConnection = new signalR.HubConnection(httpConnection);

            $("#publishReport").click(function () {
                hubConnection.invoke('PublishReport', $('#reportName').val());
            });

            hubConnection.start();

        });
    </script>
}